.App {
  background-color: black;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%

}

.first-set {
  width: 520px;
  column-width: 110px;
  margin-bottom: 5px;
  position: l
}

.second-set {
  width: 520px;
  column-width: 110px;
  margin-bottom: 5px;
}

.third-set {
  width: 520px;
  column-width: 110px;
  margin-bottom: 5px
}

.fourth-set {
  width: 520px;
  column-width: 110px;
  margin-bottom: 5px;
}

.App button {
  outline: 0;
  background-color: rgb(24, 201, 100);
  width: 125px;
  height: 125px;
  border: 5px solid;
  border-radius: 15%;
  border-color: rgb(38, 238, 94);
  font-size: 15px;
  font-weight: bold;
}

.keyboard-text {
  font-weight: normal;
  padding-left: 0%;
  margin-bottom: 0%;
  height: 0px;
  width: 5px;
}

.key-text {
  font-weight: normal;
  margin-bottom: 0px;
}

.App button:active {
  background-color: rgb(38, 238, 94);
  border-color: rgb(38, 238, 94);
}

.mod-key button {
  margin-top: 5px;
  margin-left: 50px;
  width: 400px;
  height: 100px;
}

.red {
  background-color: rgb(246, 83, 47);
}
